{% extends 'menu/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'modifiers/css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>{{ title }}</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_name">Name:</label>
            {{ form.name }}
        </div>

        {% if 'group' in form.fields %}
        <div class="form-group">
            <label for="id_group">Group:</label>
            {{ form.group }}
        </div>
        {% endif %}

        {% if 'temperature' in form.fields %}
        <div class="form-group">
            <label for="id_temperature">Temperature:</label>
            {{ form.temperature }}
        </div>
        {% endif %}

        <div class="form-group">
            <label for="id_price">Price:</label>
            {{ form.price }}
        </div>

        {% if 'price_2' in form.fields %}
        <div class="form-group">
            <label for="id_price_2">Second Price (optional):</label>
            {{ form.price_2 }}
        </div>
        {% endif %}

        {% if 'description' in form.fields %}
        <div class="form-group">
            <label for="id_description">Description:</label>
            {{ form.description }}
        </div>
        {% endif %}

        {% if 'allergens' in form.fields %}
        <div class="form-group">
            <label for="id_allergens">Allergens:</label>
            {{ form.allergens }}
        </div>
        {% endif %}
        
        <div class ="form_group">
            <label for="id_image">Image:</label>
            {{ form.image }}
        </div>

        <div class="form-group">
            <label for="id_is_active">Active:</label>
            {{ form.is_active }}
        </div>

        <button type="submit" class="btn">Save</button>
        <a href="{% url 'modifiers:dashboard' %}" class="btn cancel-btn">Cancel</a>
    </form>
</div>
{% endblock %}
