{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cafe{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'menu/css/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <h1>Untitled</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 Untitled</p>
    </footer>
    <script src="{% static 'menu/js/scripts.js' %}"></script>
</body>
</html>
