{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}untitled{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'menu/css/styles.css' %}?v=2">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <main class="wrapper">
        
        {% block content %}{% endblock %}
    </main>
</body>
</html>
