{% extends 'menu/base.html' %}
{% load static %}

{% block title %}untitled menu{% endblock %}

{% block content %}
<div class="home">
    <h1 class="logo">untitled <span>menu</span></h1>

    <div class="menu-links">
        <a href="{% url 'menu:coffee' %}">coffee</a>
        <a href="{% url 'menu:toasts' %}">toast</a>
        <a href="{% url 'menu:sweets' %}">desserts</a>
    </div>

    <footer class="info">
        <p>zamówienia przyjmujemy przy barze</p>
        <p>wifi: untitled 2.4 / untitled 5</p>
        <p>password: dropthebomb</p>
    </footer>
</div>
{% endblock %}
