{% extends 'menu/base.html' %}
{% load static %}

{% block title %}untitled menu{% endblock %}

{% block content %}
<div class="home">
    <div class="logo">
        <img src="{% static 'menu/images/logo_menu.png' %}" alt="Untitled Menu" class="logo-img">
    </div>
    
    <div class="menu-links">
        <a href="{% url 'menu:coffee' %}">coffee</a>
        <a href="{% url 'menu:toasts' %}">toast</a>
        <a href="{% url 'menu:sweets' %}">desserts</a>
    </div>

    <footer class="info">
        <p>Zamówienia przyjmujemy przy barze</p>
        <p>wifi: untitled 2.4 / untitled 5</p>
        <p>password: dropthebomb</p>
    </footer>
</div>
{% endblock %}
