{% extends 'menu/base.html' %}
{% load static %}

{% block title %}Sweets Menu{% endblock %}

{% block content %}
<div class="menu-page">
    <h1 class="logo">untitled <span>sweets</span></h1>
    
    <div class="menu-list">
        {% for sweet in sweets %}
        <div class="menu-item" data-id="{{ sweet.id }}">
            <div class="menu-left">
                {% if sweet.image %}
                <img src="{{ sweet.image.url }}" alt="{{ sweet.name }}" class="item-image">
                {% endif %}
            </div>
            <div class="menu-center">
                <h3>{{ sweet.name }}</h3>
                <p class="description">{{ sweet.description }}</p>
                <p class="ingredients">{{ sweet.ingredients }}</p>
            </div>
            <div class="menu-right">
                <p>{{ sweet.price_display }}</p>
            </div>
        </div>
        {% empty %}
        <p class="empty">No sweets available ☕</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
