{% extends 'menu/base.html' %}
{% load static %}

{% block title %}Toast Menu{% endblock %}

{% block content %}
<div class="menu-page">
    <h1 class="logo">untitled <span>toasts</span></h1>
    
    <div class="menu-list">
        {% for toast in toasts %}
        <div class="menu-item" data-id="{{ toast.id }}">
            <div class="menu-left">
                {% if toast.image %}
                <img src="{{ toast.image.url }}" alt="{{ toast.name }}" class="item-image">
                {% endif %}
            </div>
            <div class="menu-center">
                <h3>{{ toast.name }}</h3>
                <p class="description">{{ toast.description }}</p>
                <p class="ingredients">{{ toast.ingredients }}</p>
            </div>
            <div class="menu-right">
                <p>{{ toast.price_display }}</p>
            </div>
        </div>
        {% empty %}
        <p class="empty">No toasts available ☕</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
